<div class="section">
      <div class="container">
        <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-4">
            <%= image_tag("Sasuke-Shippuden-uchiha-sasuke-22662093-1280-720.jpg", size: '600x500', class: 'img-responsive') %>
            <h2><%= book.book.name %></h2>
            Author: <%= book.book.author %> <br/>
            <!-- So, to access the return day field, I iterate over the books.borrowed books collection -->
            Return Date: <%= book.return_date.to_formatted_s(:long) %><br/>
            Borrowed by: <%= book.user.email %> <br/>

            <% if book.userHasReturned && !book.isReturned && DateTime.now <= book.return_date%>
              <%= button_to "Complete Return", all_return_path(book_id: book.book.id, user_id: book.user.id) %> <br/> <br/>
            <% elsif book.userHasReturned && !book.isReturned && DateTime.now > book.return_date
               %>
               <p>Hey, <%= book.user.email %> is defaulting on his borrowed book. Just to remind you that they're to pay <%= book.book.surcharge_fee %> when the return the book</p>
               <%= button_to "Complete Return", all_return_path(book_id: book.book.id, user_id: book.user.id) %> <br/> <br/>
            <% else %>
              <p style="color: green">Book has been returned</p>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>